<!doctype html>

<html>
<head>
    {% extends 'bootstrap/base.html' %}

    {% block title %}
        {% if title %}{{ title }} - Blue Moon Terminal{% else %}Welcome to Blue Moon Terminal{% endif %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/tables.css') }}">

    {% block navbar %}
        <nav class="navbar navbar-default" style="margin-bottom: 0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">Blue Moon Terminal</a>
                </div>
                <div class="nav navbar-nav navbar-left" id="navbar-collapse">
                    {% if current_user.is_anonymous %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active"
                               href="{{ url_for('main.jasper_api', username=current_user.username) }}">Jasper APIs</a>

                        </li>
                        {% if current_user.number_of_jasper_credential() >= 1 %}
                            {% for credential in current_user.jasper_credential %}
                                {% for account in credential.jasper_accounts %}
                                    <li class="nav-item dropdown show">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                           data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-expanded="true">
                                            {{ account.resource_url.split("/")[2] }} ▼
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a href="{{ url_for('main.rate_plans', token=account.get_id_token() ) }}">Rate Plan</a></li>
                                            <li><a href="{{ url_for('main.subscriber_identity_module', token=account.get_id_token() ) }}">Subscriber Identity Module</a></li>
                                            <li><a href="{{ url_for('main.latest_estimation', token=account.get_id_token() ) }}">Last Estimation</a></li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('auth.register') }}">Sign Up</a></li>
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                {{ current_user.username }}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a href="{{ url_for('main.edit_profile', username=current_user.username) }}">Edit
                                    Profile</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {# application content needs to be provided in the app_content block #}
            {% block app_content %}{% endblock %}
        </div>
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript" charset="utf8"
                src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
        <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    {% endblock scripts %}