{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <nav class="navbar navbar-default" style="margin-top: 0">
        <div class="nav navbar-nav navbar-left" id="navbar-collapse">
            {% if available_apis is not none %}
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="collapse" href="#ViewRatePlans">
                        Rate Plans
                    </a>
                </li>
            {% endif %}

        </div>
    </nav>
    <div class="container">
        <div class="collapse" id="ViewRatePlans">
            <div class="card card-body">
                <div class="jumbotron jumbotron-fluid">
                    <table class="table table-striped"
                           style="width:100%" id="ViewJasperAPITable">
                        <thead>
                        <tr>
                            <th>Plan Name</th>
                            <th>Subscription Charge</th>
                            <th>Active</th>
                        </tr>
                        </thead>
                        <tbody>
                                {% for rate_plans in jasper_account.rate_plans %}
                                        {% include '_rate_plans.html' %}
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}