{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <nav class="navbar navbar-default" style="margin-top: 0px">
        <div class="nav navbar-nav navbar-left" id="navbar-collapse">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" href="#AddSIMsManually">
                    Add SIMs Manually
                </a>
            </li>

            {% if available_apis is not none %}
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="collapse" href="#ViewJasperAPI">
                        Exiting SIMs
                    </a>
                </li>
            {% endif %}

        </div>
    </nav>
    <div class="container">
        <div class="collapse" id="AddSIMsManually">
            <div class="card card-body">
                <div class="jumbotron jumbotron-fluid">
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>

        <div class="collapse" id="ViewJasperAPI">
            <div class="card card-body">
                <div class="jumbotron jumbotron-fluid">
                    <div id="table"></div>
                    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
                    <script>
                        var v = '{{ jasper_account.get_id_token() }}';
                        new gridjs.Grid({
                            columns: [
                                {id: 'iccid', name: 'ICCID'},
                                {
                                    id: 'imei',
                                    name: 'IMEI',
                                },
                                {
                                    id: 'fixed_ip_address', name: 'Fixed IP Address',
                                },
                                {id: 'status', name: 'Status'},
                            ],
                            server: {
                                url: '/api/data/'.concat(v, '/sim'),
                                then: results => results.data,
                            },
                            search: {
                                selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
                            },
                            sort: true,
                            pagination: true,
                        }).render(document.getElementById('table'));
                    </script>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}