{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <nav class="navbar navbar-default" style="margin-top: 0">
        <div class="nav navbar-nav navbar-left" id="navbar-collapse">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="collapse" href="#AddSIMsManually">
                    Add SIMs Manually
                </a>
            </li>

            {% if available_apis is not none %}
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="collapse" href="#ViewJasperAPI">
                        Exiting SIMs
                    </a>
                </li>
            {% endif %}

        </div>
    </nav>
    <div class="container">
                <div class="collapse" id="AddSIMsManually">
                    <div class="card card-body">
                        <div class="jumbotron jumbotron-fluid">
                            {{ wtf.quick_form(form) }}
                        </div>
                    </div>
                </div>

                <div class="collapse" id="ViewJasperAPI">
                    <div class="card card-body">
                        <div class="jumbotron jumbotron-fluid">
                            <table class="table table-striped"
                                   style="width:100%" id="ViewSIMTable">
                                <thead>
                                <tr>
                                    <th>ICCID</th>
                                    <th>IMEI</th>
                                    <th>Communication Plan</th>
                                    <th>Fixed IP Address</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sims in jasper_account.subscriber_identity_modules %}
                                        {% include '_subscriber_identity_module.html' %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    </div>

{% endblock %}